.ipynb_checkpoints
__pycache__
data
meeting_agendas
output_files
troubleshooting
papers

photometry_intro/.ipynb_checkpoints
photometry_intro/__pycache__
photometry_intro/PAL5_data
photometry_intro/CCVS_data

*.fits
